@import 'fonts';
@import 'vars';
@import 'global';

.shop{
  min-height: 100%;
  padding: 242px 0;
  &__inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1620px;
    min-height: 908px;
    &-btn{
      position: absolute;
      background-color: transparent;
      right: -10px;
      top: -30px;
      border: none;
      cursor: pointer;
      width: 55px;
      height: 55px;
      z-index: 5;
    }
  }
}
.shop__logo{
  padding-left: 80px;
  &-title{
    display: block;
    padding-left: 80px;
    color: #f3f3f3;
    margin-bottom: 120px;
  }
}
.menu__sidebar{
  background-color: rgb(29, 33, 44);
  border-radius: 20px;
  max-width: 509px;
  width: 100%;
  padding: 80px 0;
  &-title{
    display: block;
    color: #f3f3f3;
    padding-left: 80px;
    transition: all .3s;
    padding: 7px 0px 8px 80px;
    & + &{
      margin-top: 35px;
    }
    &:hover{
      background-color: #0bf1ff;
      border-radius: 0 5px 5px 0;
      color: #1a1d27;
    }
  }
}
.menu__sidebar-title.tab--active{
  background-color: #0bf1ff;
  border-radius: 0 5px 5px 0;
  color: #1a1d27;
}
.shop__content{
  position: relative;
  max-width: 1094px;
  width: 100%;
  background-color: rgb(29, 33, 44);
  border-radius: 20px;
  padding: 67px 88px 77px 77px;
}
.shop__items{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: -10px;
}
.btn{
  overflow: hidden;
  transition: 1s all ease;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0bf1ff;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
}
.shop__item{
  position: relative;
  background-color: #1a1d25;
  border-radius: 20px;
  width: 303px;
  height: 303px;
  text-align: center;
  padding: 25px 0;
  margin-bottom: 30px;
  flex-basis: calc(33.3333% - 10px);
  margin-left: 10px;
  &-price{
    color: rgba(235, 235, 235, 0.671);
  }
  &-icon{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  &-title{
    color: #ebebeb;
    margin-bottom: 10px;
    span{
      display: block;
    }
  }
  &-btn{
    border: none;
    border-radius: 25px;
    padding: 4px 45px 8px;
    color: #ebebeb;
    z-index: 5;
    background: #0b0f21;
    cursor: pointer;
    &::before {
      width: 100%;
      height: 0;
      transform: translate(-50%,-50%) rotate(-45deg);
    }
    &:hover{
      color: #1a1d25;
      &::before{
        height: 370%;
      }
    }
  }
}
.tabs-content{
  display: none;
}
.tabs-content.tabs-content--active{
  display: block;
}
.money__box{
  text-align: right;
  position: absolute;
  bottom: 80px;
  right: 100px;
  &-cache{
    margin-bottom: 8px;
    span{
      position: relative;
      &::before{
        position: absolute;
        content: '';
        background-image: url('../images/icons/cache.png');
        left: -45px;
        top: -3px;
        width: 28px;
        height: 27px;
      }
    }
  }
  &-bank{
    span{
      position: relative;
      &::before{
        position: absolute;
        content: '';
        background-image: url('../images/icons/bank.png');
        left: -45px;
        top: -3px;
        width: 30px;
        height: 30px;
      }
    }
  }
}
// start popup
.fancybox-content{
  background-color: transparent;
}
.fancybox-close-small{
  display: none;
}
.popup__inner{
  min-height: 588px;
  width: 868px;
  background: center / cover no-repeat;
  text-align: center;
  padding-top: 140px;
  &-title{
    color: rgba(234, 234, 234, 0.76);
    max-width: 240px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  &-form{
    max-width: 581px;
    margin: 0 auto;
    display: flex;
  }
  &-input{
    background-color: #1a1d25;
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 0 35px;
    height: 55px;
    width: 392px;
    color: rgba(234,234,234,.76);
    &::placeholder{
      color: rgba(236, 236, 236, 0.23);
      font-size: 22px;
    }
  }
  &-btn{
    border: none;
    border-radius: 0 20px 20px 0;
    background-color: #1a1d25;
    color: rgba(234,234,234,.76);
    height: 54px;
    width: 188px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      color: #1a1d25;
      background-color: #0bf1ff;
    }
  }
}
// end popup


@import 'media';